---
const techs = [
  {
    id: 1,
    tech: "Python",
  },
  {
    id: 2,
    tech: "Java",
  },
  {
    id: 3,
    tech: "JavaScript",
  },
  {
    id: 4,
    tech: "Git",
  },
  {
    id: 5,
    tech: "HTML",
  },
];
---

<main>
  <div>
    <ul class="tech">
      {
        techs.map((item) => (
          <li class="tech-item">
            <button class="tech-item__button" data-tech={item.tech} data-techid={item.id}>
              {item.tech}
            </button>
          </li>
        ))
      }
    </ul>
    <section class="tech-faq" aria-label="FAQ"></section>

    <ul class="tech-pagination"></ul>
  </div>
</main>
<script>
  const techsButton = document.querySelectorAll(".tech-item__button");
  const techPagination = document.querySelector(".tech-pagination");
  const techFaq = document.querySelector(".tech-faq");

  const BASE_URL = "http://127.0.0.1:8000/api/v1/catalog/categories/";
  techsButton.forEach((button) => {
  // const BASE_URL = "/mock-data.json";
    button.addEventListener("click", async () => {
      const techId = button.dataset.techid;
      const tech = button.dataset.tech;
      console.log(techId);
      console.log(tech);
      try {
        const response = await fetch(`${BASE_URL}?tech_id=${techId}`);
        if (!response.ok) throw new Error("Сервер повернув помилку 404");
        const result = await response.json();

        // Рендеримо отримані дані
        if (result.data) {
          result.data.forEach((item) => {
            const elem = `
          <details class="tech-faq__item" name="tech-faq">
            <summary class="tech-faq__item-question">${item.question_text}</summary>
            <p class="tech-faq__item-answer">${item.answer_text}</p>
          </details>
          `;
            techFaq.insertAdjacentHTML("beforeend", elem);
          });
        }
      } catch (error) {
        console.error("Помилка завантаження:", error);
      }
    });
  });
</script>
